/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

#navbar-actions {
    text-align: right;
}

#navbar-actions span {
    line-height: 1.6em;
    font-size: 2em;
    padding-top: 5px;
    padding-right: 5px;
    color:white;
    margin-right: 0.5em;
}

#compare-button {
    z-index: 500;
    bottom: 2%;
    position: fixed;
    width: 50%;
    text-transform: uppercase;
    color: white;
    background-color: #2196F3;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
}

.container {
    padding: 0;
}

.row {
    margin: 60px 2% 2% 2%;
}

#search-bar {
    font-size: 1.4em;
    display: none;
    width: 45%;
    height: 37px !important;
    position: absolute;
    left: 30%;
    resize: none;
}

.headerApp {
    left: 0;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0%;
    height:50px;
    background-color:#2196F3;
}

.titleHeader {
    line-height: 1.7em;
    margin-left: 5%;
    float: left;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-transform: none;
}

.product-title {

}

.compare-product {
    background-color: #FFF;
    margin: 0% 4% 2% 4%;
    border: 1px solid #DEDEDE;
    float: left;
    text-align: center;
    font-size: .9em;
    color: #2E2E2E;
    position: relative;
    overflow: hidden;
}

.compare-product .glyphicon-menu-up, .compare-product .glyphicon-menu-down {
    display: block;
    width: 100%;
    font-size: 50px;
    color: #2196F3;
}

.specs {
    font-weight: 600;
}

#middleInfo * {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#middleInfo #splitLine {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    z-index: 100;
    width: 1px;
    background: rgba(0, 0, 0, 0.64);
}

#middleInfo #typeTitle, #middleInfo #bruitTitle, #middleInfo #wirelessTitle, #middleInfo #weightTitle {
    top: 297px;
    text-align: center;
    line-height: 9px;
    z-index: 10000;
    font-size: 9px;
    font-weight: 400;
    height: 9px;
    background-color: white;
    color: rgba(0, 0, 0, 0.84);
    margin: 0 auto 0 auto;
    padding: 0;
    width: 100px;
}

#middleInfo #bruitTitle {
    top: 316px;
}

#middleInfo #wirelessTitle {
    top: 335px;
}

#middleInfo #weightTitle {
    top: 354px;
}

#middleInfo #expertAdvice, #middleInfo #audioTitle, #middleInfo #ergonomieTitle, #middleInfo #noteTitle {
    top: 385px;
    text-align: center;
    z-index: 10000;
    font-size: 14px;
    font-weight: bold;
    height: 14px;
    background-color: rgb(224, 224, 224);
    margin: 0;
    padding: 0;
    width: 100%;
}

#middleInfo #audioTitle {
    top: 411px;
    font-weight: 400;
}

#middleInfo #ergonomieTitle {
    top: 442px;
    font-weight: 400;
}

#middleInfo #noteTitle {
    top: 472px;
    font-weight: 400;
}

#expertAdvice {
    position: absolute;
    top: 308px;
    width: 100%;
    margin: 0;
    padding: 30px 0 5px 0;
    margin-top: 15px;
    background-color: rgb(224, 224, 224);
    // background-color: rgba(0, 0, 0, 0.12);
}

#expertAdvice div {
    position: relative;
    width: 100%;
    z-index: 10001;
}

#first-column #expertAdvice div {
    text-align: left;
    padding-left: 5px;
}

#second-column #expertAdvice div {
    text-align: right;
    padding-right: 5px;
}

.bigStarBlue {
    color: #2196F3;
}

.starExpertBlue {
    height: 25px;
    width: 25px;
    font-size: 18px;
    border-radius: 15px;
    color: white;
    background: #2196F3;
    line-height: 25px;
    text-align: center;
    padding-left: 1px;
    margin-bottom: 5px;
}

.greyStar {
    background: rgb(92, 92, 92);
}

#price {
    padding-top: 120px;
}

.nb-review {
    font-size: 0.6em;
}

.imgIem{
    margin-top: 3px;
    width: 80%;
}

.imgIIem{
    margin-top: 3px;
    width: 50%;
}


.selectedItem{
    box-shadow:inset 0 0 0 3px #2196F3;
}

.smallStarYellow{
    color: #FFCC00;
}

.priceItem{
    padding-top: 1%;
    font-size : 15px;
    font-weight: bold;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:white;
    /*background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );*/
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
    /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
